<a href="https://colab.research.google.com/github/MatheusPxt21/Projeto-CCF425/blob/main/Projeto_de_CCF_425_INTRODU%C3%87%C3%83O_%C3%80_CI%C3%8ANCIA_DOS_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Projeto de CCF 425 - INTRODUÇÃO À CIÊNCIA DOS DADOS**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('BrStats.csv', sep=";", low_memory=False)

VrSalarios por Regiao do Brasil

In [ ]:
coluna_salarios = 'VrSalarios'
coluna_populacao = 'Populacao'

df[coluna_salarios] = pd.to_numeric(df[coluna_salarios], errors='coerce')
df[coluna_populacao] = pd.to_numeric(df[coluna_populacao], errors='coerce')

df['MediaSalarialCidade'] = df[coluna_salarios] / df[coluna_populacao]

media_salarial_por_regiao = df.groupby('Regiao')['MediaSalarialCidade'].mean()

# Exibir os resultados
print(media_salarial_por_regiao)

Regiao
Centro-Oeste    3.368202
Nordeste        1.651562
Norte           1.871603
Sudeste         3.590985
Sul             4.628571
Name: MediaSalarialCidade, dtype: float64

In [ ]:
# Encontrar a cidade com o menor VrSalarios
cidade_menor_salario = df.loc[df['VrSalarios'].idxmin(), ['Municipio', 'VrSalarios', 'Regiao', 'UF', 'Populacao', 'povoamento', 'PessoalAssalariado']]

# Exibir o resultado
print(cidade_menor_salario)

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
# Encontrar

In [ ]:
#Existe relação entre o número de nascimentos/mortes com o PIB da região?

for col in ['NrNascimentos', 'NrObitosInfantis', 'PIB']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

correlacao = df.groupby('Regiao')[['NrNascimentos', 'NrObitosInfantis', 'PIB']].sum().corr()
print(correlacao)

                  NrNascimentos  NrObitosInfantis       PIB
NrNascimentos          1.000000          0.920779  0.859121
NrObitosInfantis       0.920779          1.000000  0.775176
PIB                    0.859121          0.775176  1.000000

In [ ]:
#Relação entre a área de cultivo com a área povoada

for col in ['povoamento', 'AreaPlantada_h', 'AreaColhida_h']:
    # Check if the column is of type object (which usually indicates strings) before using .str
    if df[col].dtype == object:
        df[col] = pd.to_numeric(df[col].str.replace(',', '.', regex=False), errors='coerce')
    else:
        # If not an object type, try converting directly to numeric
        df[col] = pd.to_numeric(df[col], errors='coerce')

correlacao = df[['povoamento', 'AreaPlantada_h', 'AreaColhida_h']].corr()
print(correlacao)

                povoamento  AreaPlantada_h  AreaColhida_h
povoamento        1.000000       -0.054051      -0.053670
AreaPlantada_h   -0.054051        1.000000       0.940183
AreaColhida_h    -0.053670        0.940183       1.000000

In [ ]:
#Média populacional das cidades do grupo comparadas com a capital

cidades_grupo = ['Caratinga', 'Pará de Minas', 'Itaúna', 'Ubá']
df_cidades = df[df['Municipio'].isin(cidades_grupo)]

df_cidades['Populacao'] = pd.to_numeric(df_cidades['Populacao'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False), errors='coerce')

media_grupo = df_cidades['Populacao'].mean()

capital = df[df['Municipio'] == 'Belo Horizonte']
populacao_capital = capital['Populacao'].values[0]

print(f"Média populacional do grupo: {media_grupo}")
print(f"População da capital: {populacao_capital}")

Média populacional do grupo: 98484.83333333333
População da capital: 2.513.451

<ipython-input-13-9f191a3b028d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cidades['Populacao'] = pd.to_numeric(df_cidades['Populacao'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False), errors='coerce')

In [ ]:
#Comparação entre as regiões com mais empresas X áreas plantadas -> PIB

df['Razao_Empresas_AreaPlantada'] = df['QtEmpresas'] / df['AreaPlantada_h']
comparacao = df.groupby('Regiao')[['QtEmpresas', 'AreaPlantada_h', 'PIB']].mean()
print(comparacao)

              QtEmpresas  AreaPlantada_h         PIB
Regiao
Centro-Oeste  207.485575      102.244417  296.049921
Nordeste      151.965094       11.761334  184.400428
Norte         137.227086       19.574777  250.746170
Sudeste       203.939917       20.556859  232.431510
Sul           206.812010       34.304012  260.693577

In [ ]:
#Balanço Comercial por município/região

df['Exportacoes_US$'] = pd.to_numeric(df['Exportacoes_US$'].str.replace(',', '.', regex=False), errors='coerce')
df['Importacoes_US$'] = pd.to_numeric(df['Importacoes_US$'].str.replace(',', '.', regex=False), errors='coerce')

df['BalancoComercial'] = df['Exportacoes_US$'] - df['Importacoes_US$']
balanco_por_regiao = df.groupby('Regiao')['BalancoComercial'].sum()
print(balanco_por_regiao)

Regiao
Centro-Oeste   -138.0
Nordeste       -552.0
Norte             0.0
Sudeste           0.0
Sul               0.0
Name: BalancoComercial, dtype: float64

In [ ]:
#Número de óbitos infantis antes e durante a pandemia

antes_pandemia_obitos = df[df['Ano'] <= 2019]['NrObitosInfantis'].sum()
depois_pandemia_obitos = df[df['Ano'] >= 2020]['NrObitosInfantis'].sum()

print(f"Óbitos antes da pandemia: {antes_pandemia_obitos}")
print(f"Óbitos depois da pandemia: {depois_pandemia_obitos}")

Óbitos antes da pandemia: 135178.45799999998
Óbitos depois da pandemia: 60334.925

In [ ]:
#Número de nascimentos antes e depois da pandemia

antes_pandemia = df[df['Ano'] <= 2019]['NrNascimentos'].sum()
depois_pandemia = df[df['Ano'] >= 2020]['NrNascimentos'].sum()

print(f"Nascimentos antes da pandemia: {antes_pandemia}")
print(f"Nascimentos depois da pandemia: {depois_pandemia}")

Nascimentos antes da pandemia: 4119220.278
Nascimentos depois da pandemia: 2028557.8820000002

In [ ]:
#Número de empresas que fecharam de 2019 para 2020

df_2019 = df[df['Ano'] == 2019]
df_2020 = df[df['Ano'] == 2020]

empresas_fechadas = df_2019['QtEmpresas'].sum() - df_2020['QtEmpresas'].sum()
print(f"Número de empresas que fecharam: {empresas_fechadas}")

Número de empresas que fecharam: -15602.34600000002

In [ ]:
#Quantas pessoas deixaram de ser CLT de 2019 para 2020?

df_2019 = df[df['Ano'] == 2019]
df_2020 = df[df['Ano'] == 2020]

# Convert 'PessoalAssalariado' to numeric, handling errors
df_2019['PessoalAssalariado'] = pd.to_numeric(df_2019['PessoalAssalariado'], errors='coerce')
df_2020['PessoalAssalariado'] = pd.to_numeric(df_2020['PessoalAssalariado'], errors='coerce')

clt_perdidos = df_2019['PessoalAssalariado'].sum() - df_2020['PessoalAssalariado'].sum()
print(f"Pessoas que deixaram de ser CLT: {clt_perdidos}")

Pessoas que deixaram de ser CLT: 36150.53900000034

<ipython-input-22-e068ba871f1b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['PessoalAssalariado'] = pd.to_numeric(df_2019['PessoalAssalariado'], errors='coerce')
<ipython-input-22-e068ba871f1b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['PessoalAssalariado'] = pd.to_numeric(df_2020['PessoalAssalariado'], errors='coerce')

In [ ]:
#Taxa de Desemprego

df['PessoalOcupado'] = pd.to_numeric(df['PessoalOcupado'], errors='coerce')
df['Populacao'] = pd.to_numeric(df['Populacao'], errors='coerce')

df['TaxaDesemprego'] = (1 - df['PessoalOcupado'] / df['Populacao']) * 100
print(df[['Municipio', 'TaxaDesemprego']])

                     Municipio  TaxaDesemprego
0      Campina do Monte Alegre   -14296.493594
1                  Elói Mendes       79.349209
2                    Silveiras   -10686.371710
3                 Silva Jardim       85.492739
4       Pindorama do Tocantins    -4575.782973
...                        ...             ...
33415            Monteirópolis    -6356.561149
33416                    Amapá    -4519.535888
33417      Fernando de Noronha       27.801372
33418                     Faro    -7509.618105
33419        Serra dos Aimorés    -9665.042980

[33420 rows x 2 columns]

In [ ]:
#Porcentagem de óbitos com nascimentos nas 10 cidades de maior PIB

top10_pib = df.nlargest(10, 'PIB')
top10_pib['TaxaObitos'] = (top10_pib['NrObitosInfantis'] / top10_pib['NrNascimentos']) * 100
print(top10_pib[['Municipio', 'TaxaObitos']])

                 Municipio   TaxaObitos
7532            São Marcos     0.000000
990                Inhumas     1.109570
1702          Rio Negrinho     0.325203
29212  Palmeira dos Índios  1180.173092
4961        Paraíba do Sul     2.480916
5585                Juruti  2016.498625
13861    Bom Jesus da Lapa  1382.886776
3346       Chapadão do Céu     0.000000
13176       Biritiba-Mirim     2.028986
15467             Quissamã     0.928793

In [ ]:
#Quantidade de indústrias por região

industria_por_regiao = df.groupby('Regiao')['QtEmpresas'].sum()
print(industria_por_regiao)

Regiao
Centro-Oeste     580129.668
Nordeste        1635752.272
Norte            369689.769
Sudeste         2041030.693
Sul             1474156.004
Name: QtEmpresas, dtype: float64

In [ ]:
#Relação entre empresas na cidade/região com PIB

correlacao = df[['QtEmpresas', 'PIB']].corr()
print(correlacao)

            QtEmpresas       PIB
QtEmpresas    1.000000  0.672342
PIB           0.672342  1.000000

1ª Pergunta: Qual foi a cidade com o maior número bruto de óbito infantil no período de 2019 a 2021 e qual foi a cidade com a menor razão entre natalidade/óbito infantil nesse mesmo período?

2ª Pergunta: Qual a diferença do número total de empresas entre o período de 2016 e 2018 e entre 2019 e 2021? O que podemos concluir com esses dados?

3ª Pergunta: Qual a soma total do maior valor de produção agrícola de cada cidade entre os anos de 2016 e 2018 e qual é o valor dessa mesma soma entre os anos de 2019 e 2021?

4ª Pergunta: Durante os anos de 2019, 2020 e 2021, quais cidades tiveram a pior relação entre area plantada e area colhida? Qual a diferença desses valores para os anos de 2016, 2017 e 2018 para essas mesmas cidades?

5ª Pergunta: Considerando as 10 cidades com maior produção pecuária entre os anos de 2016 e 2018, qual a diferença nessa produção para as mesmas cidades no período de 2019 e 2021?



*   Qual foi o impacto da pandemia no PIB dos municípios em 2020?
*   Qual foi o impacto da pandemia nas exportações e importações por região?
*   Qual a relação entre PIB e exportações/importações? Municípios com maior PIB são mais exportadores?
*   Qual o impacto das receitas municipais na qualidade de vida? Podem ser encontradas relações entre receitas e taxa de mortalidade infantil?
*   Municípios que receberam mais transferências de capital tiveram maior crescimento econômico?